#LOCAL CONNECTION STRING CN
ConnectionStrings__cn=Server=localhost;Database=db_biblioteca;User Id=your_userid;Password=your_password;TrustServerCertificate=True

#DOCKER VARIABLES FOR CONNECTION STRING CN
DB_PASSWORD=your_password

#JWT PRIVATE KEY. MAKE SURE IT'S AROUND 40 CHARACTERS LONG OTHERWISE JWT WILL REJECT IT
JWT_SECRET=your_jwt_secret_here
